/* CSS Document */
/* Teams CSS */

@font-face {
    font-family: 'Formula1';
    src: url('../assets/fonts/f1/Formula\ 1.otf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://media.gq.com.mx/photos/6406424fe64540fddb4c2561/16:9/w_2560%2Cc_limit/pilotos%2520de%2520la%2520f1-1247830340.jpg');
    background-position: center;
    background-size: cover;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Formula1', cursive;
    color: #e10600;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-bottom: 3px solid #e10600;
    position: relative;
}


#contenedor-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    max-width: 1200px;
    margin: 0 auto;
}